.heading{
    width: 100%;
    font-size: 23px;
    font-family: 'Cormorant SC', serif;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note{
font-size: 20px;
color: red;
}
.footer{
    position: fixed;
    bottom: 0;
    font-size: small;
    background-color:darkgrey;
    width: 100%;
    text-align: center;
    line-height: 3;
}
canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}